<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main-content">
                    {{>header}}
        <img class="potrait" src="./img/dp.jpg">
        <p> Wanna know more about me.</p>
        </div>
        

        {{>footer}}
    </body>
</html>